---
layout: default
---
{% include JB/setup %}

<div class="page-header">
  <h1>{{ page.title }} {% if page.tagline %} <small>{{ page.tagline }}</small>{% endif %}</h1>
</div>
<div class="row">
  <div class="col-sm-3">
    <div class="sidebar-nav">
      <div class="navbar navbar-default" role="navigation">
        <div class="navbar-header">
          <button class="navbar-toggle" data-target=".sidebar-navbar-collapse" data-toggle="collapse" type="button"><span class="sr-only">Toggle navigation</span> <span class="icon-bar"></span> <span class="icon-bar"></span> <span class="icon-bar"></span></button> <span class="visible-xs navbar-brand">Sidebar menu</span>
        </div>
        <div class="navbar-collapse collapse sidebar-navbar-collapse">
          <ul class="nav navbar-nav">
            <li class="dropdown">
              <a class="dropdown-toggle" data-toggle="dropdown" href="#">General Topics <b class="caret"></b></a>
              <ul class="dropdown-menu">
              	<li><a href="https://www.codecademy.com/learn/learn-the-command-line">Learn the Command Line</a></li>
                <li><a href="/tutorials/general/unix-cheat-sheet/">Unix Cheat Sheet</a></li>
                <li><a href="/tutorials/general/setting-up-your-mac/">Setting up your Mac</a></li>
                <li><a href="http://regexone.com">Learn Regular Expressions</a></li>
                <li><a href="/tutorials/general/R/">Learn R</a></li>
              </ul>
            </li>
            <li class="dropdown">
              <a class="dropdown-toggle" data-toggle="dropdown" href="#">Structural Imaging <b class="caret"></b></a>
              <ul class="dropdown-menu">
                <li><a href="/tutorials/general/introduction-to-fulton-supercomputer-lab/">Introduction to Fulton Supercomputer</a></li>
                <li><a href="/tutorials/structural/preprocessing_T1_weighted_images/">Preprocessing T1 Weighted Images</a></li>
                <li><a href="/tutorials/structural/length/">Measuring the Length</a></li>
                <li><a href="/tutorials/structural/spatial_normalization/">Spatial Normalization</a></li>
                <li><a href="/tutorials/general/submit-single-job/">How to Submit a Job to Compute Node</a></li>
                <li><a href="/tutorials/structural/template/">Generate Template</a></li>
                <li><a href="/tutorials/structural/cortical_thickness/">ANTs Cortical Thickness</a></li>
                <li><a href="/tutorials/general/submit-multiple-jobs/">How to Submit Batch Jobs on Supercomputer</a></li>
                <li><a href="/tutorials/structural/morphometry/">Morphometry</a></li>
                <li><a href="/tutorials/structural/randomise/">Compare Two Groups</a></li>
                <li><a href="/tutorials/structural/freesurfer-recon-all/">FreeSurfer recon-all</a></li>
              </ul>
            </li>
            <li class="dropdown">
              <a class="dropdown-toggle" data-toggle="dropdown" href="#">Diffusion Imaging <b class="caret"></b></a>
              <ul class="dropdown-menu">
                <li><a href="/tutorials/diffusion/advanced-programs/">Installing Programs</a></li>
                <li><a href="/tutorials/diffusion/preprocessing_t1_dwi_weighted_images/">Preprocessing T1 and Diffusion Weighted Images</a></li>
                <li><a href="/tutorials/diffusion/template/">Generate Template</a></li>
                <li><a href="/tutorials/diffusion/freesurfer-recon-all/">FreeSurfer recon-all</a></li>
                <li><a href="/tutorials/diffusion/tbss-part-1/">Tract-Based Spatial Statistics Part 1</a></li>
                <li><a href="/tutorials/diffusion/tbss-part-2/">Tract-Based Spatial Statistics Part 2</a></li>
                <li><a href="/tutorials/diffusion/randomise/">Randomise</a></li>
                <li><a href="/tutorials/diffusion/vistasoft/">Deterministic Tractography with VistaSoft</a></li>
                <li><a href="/tutorials/diffusion/afq/">Automatic Fiber Quantification</a></li>
                <li><a href="/tutorials/diffusion/afq-plot-render/">Plot and Render Fibers</a></li>
                <li><a href="/tutorials/diffusion/tracula/">Probabilistic Tractography with TRACULA</a></li>
                <li><a href="/tutorials/diffusion/table/">Extract Tables</a></li>
              </ul>
            </li>
            <li class="dropdown">
              <a class="dropdown-toggle" data-toggle="dropdown" href="#">LaTex <b class="caret"></b></a>
              <ul class="dropdown-menu">
                <li><a href="/tutorials/latex/figures-only/">Document with Only Figures</a></li>
              </ul>
            </li>
          </ul>
        </div><!--/.nav-collapse -->
      </div>
    </div>
  </div>
  <div class="col-sm-9">
    {{ content }}
  </div>
</div>
<hr>
{% include JB/comments %}
